<h1>Listado de cuenta corriente del cliente <%= @cliente.razonsocial %></h1>
<table>
 <tr>
    <th>T.C.</th>	
    <th>Numero</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Fecha Vto</th>
    <th>Fecha Registro</th>
  </tr>
<% @cuentacorriente.each do |cpbte| %>
  <tr>
    <td><%= cpbte.type %></td>	
    <td align="right"><%= cpbte.numero %></td>
    <td><%= cpbte.fecha %></td>
    <td align="right"><%= cpbte.total %></td>
    <td><%= cpbte.fechavto %></td>
	<td><%= cpbte.created_at %></td>
  </tr>
<% end %>
<tr>
  <td>Saldo</td>	
  <td></td>
  <td></td>
  <td align="right"><%= @cliente.saldo %></td>
  <td></td>
</tr>
</table>

<%= link_to 'Volver', cliente_path(@cliente) %>
