<h1>Listado de clientes</h1>

<%= render 'filtros' %>

<% content_for(:controls) do %>
<%= controls do |c|
         c.item "Nuevo", new_cliente_path, :icon => "add"
         c.item "Exportar PDF", clientes_path, :icon => "report_go"
end %>
<%end%>

<% content_for(:breadcrumbs) do %>
<%= breadcrumbs do |b|
	b.item "Principal", root_path
    b.item "Clientes", clientes_path, :active => true
end %>
<%end%>

<table>
  <tr>
    <th>Codigo</th>
    <th>Razon social</th>
    <th>Cuit</th>
    <th>Condicion IVA</th>
    <th>Telefono</th>
    <th>Direccion</th>
    <th>Contacto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.codigo %></td>
    <td><%= cliente.razonsocial %></td>
    <td><%= cliente.cuit %></td>
    <td><%= cliente.condicioniva.try(:detalle) %></td>
    <td><%= cliente.telefono %></td>
    <td><%= cliente.direccion %></td>
    <td><%= cliente.contacto %></td>
    <td><%= link_to icon('application_go', :small, :title => 'ver'), cliente %></td>
    <td><%= link_to icon('application_edit', :small, :title => 'editar'), edit_cliente_path(cliente) %></td>
    <td><%= link_to icon('application_delete', :small, :title => 'borrar'), cliente, :confirm => 'Esta ud. seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= paginate @clientes %>
<br/>
<br/>