<h1>Listado de clientes</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Razon social</th>
    <th>Cuit</th>
    <th>Telefono</th>
    <th>Direccion</th>
    <th>Contacto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.codigo %></td>
    <td><%= cliente.razonsocial %></td>
    <td><%= cliente.cuit %></td>
    <td><%= cliente.telefono %></td>
    <td><%= cliente.direccion %></td>
    <td><%= cliente.contacto %></td>
    <td><%= link_to 'Ver', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Borrar', cliente, :confirm => 'Esta ud. seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Cliente', new_cliente_path %>
