<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.inputs do %>
  <%= f.input :email %>
  <%= f.input :password %> <i>(deje en blanco si no desea cambiarla)</i><br />
  <%= f.input :password_confirmation %>
  <%= f.input :current_password %> <i>(necesitamos su contraseña actual para confirmar los cambios)</i><br />
  <%= f.input :empresas, :as => :check_boxes, :label_method => :detalle %>
<% end %>
<%= f.buttons %>
<% end %>
<h3>Cancelar mi cuenta</h3>

<p>Unhappy? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), :confirm => "Esta ud. seguro?", :method => :delete %>.</p>
