<h1>Listado de afectacion entre facturas y notas de credito</h1>

<table>
  <tr>
    <th>N.Factura</th>
    <th>Fecha Fac</th>
    <th>Cliente Fac</th>

    <th>Fecha</th>
    <th>Importe</th>

    <th>N Notacredito</th>
    <th>Fecha NC</th>
    <th>Cliente NC</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facturanotacreditos.each do |facturanotacredito| %>
  <tr>
    <td><%= facturanotacredito.factura.numero %></td>
    <td><%= facturanotacredito.factura.fecha %></td>
    <td><%= facturanotacredito.factura.cliente.razonsocial %></td>


    <td><%= facturanotacredito.fecha %></td>
    <td><%= facturanotacredito.importe %></td>

    <td><%= facturanotacredito.notacredito.numero %></td>
    <td><%= facturanotacredito.notacredito.fecha %></td>
    <td><%= facturanotacredito.notacredito.cliente.razonsocial %></td>

    <td><%= link_to 'Ver', facturanotacredito %></td>
    <td><%= link_to 'Editar', edit_facturanotacredito_path(facturanotacredito) %></td>
    <td><%= link_to 'Borrar', facturanotacredito, :confirm => 'Esta ud. seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Factura vs Nota de credito', new_facturanotacredito_path %>
