<p id="notice"><%= notice %></p>

<p>
  <b>Factura:</b>
  <%= @facturanotacredito.factura.numero %> <%= @facturanotacredito.factura.cliente.razonsocial %> <%= @facturanotacredito.factura.fecha %>
</p>

<p>
  <b>Fecha:</b>
  <%= @facturanotacredito.fecha %>
</p>

<p>
  <b>Importe:</b>
  <%= @facturanotacredito.importe %>
</p>

<p>
  <b>Nota de credito:</b>
  <%= @facturanotacredito.notacredito.numero %> <%= @facturanotacredito.notacredito.cliente.razonsocial %> <%= @facturanotacredito.notacredito.fecha %>
</p>


<%= link_to 'Editar', edit_facturanotacredito_path(@facturanotacredito) %> |
<%= link_to 'Volver', facturanotacreditos_path %>
