<div class="nested-fields">
	<tbody>
		<tr>
		<%= f.inputs do %>
			<td>
		  		<%= f.input :descripcion , :label => false %>
			</td>
			<td>
		  		<%= f.input :cantidad, :label => false ,:as => :numeric %>
			</td>
			<td>
		  		<%= f.input :preciounitario, :label => false ,:as => :numeric %>
			</td>
			<td>
		  		<%= f.input :tasaiva, :label => false, :as => :numeric %>
			</td>
			<td>
		  		<%= link_to_remove_association "borrar", f %>
			</td>
		<% end %>		
		</tr>	
	</tbody>		
</div>