<%= semantic_form_for @factura do |f| %>
  <% if @factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factura.errors.count, "error") %> prohibited this factura from being saved:</h2>
      <ul>
      <% @factura.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.inputs do %>
  <%= f.input :fecha , :as => :date %>
  <%= f.input :cliente, :label => true, :as => :select, :collection => Cliente.all.map{|c| [c.razonsocial, c.id]} %>
  <%= f.input :importe %>
  <%= f.input :numero %>
  <%= f.input :fechavto , :as => :date %>

  <table class="tabla">
    <thead>
    <tr>
      <th><h2>Detalle</h2></th>
    </tr>
      <tr>
       <th>Descripcion</th>
       <th>Cantidad</th>
       <th>Precio unitario</th>
		<th>Total</th>
      </tr>
    </thead>
    <tbody>
  <%= f.semantic_fields_for :facturadetalles do |fd| %>
    <tr>
    <%= fd.inputs do %>
        <td>
        <%= fd.input :descripcion, :label => false %>
        </td>
        <td>
        <%= fd.input :cantidad, :label => false, :as => :numeric, :input_html => { :size => 10 } %>
        </td>
        <td>
        <%= fd.input :preciounitario, :label => false, :as => :numeric, :input_html => { :size => 10 } %>
        </td>
        <td>
        </td>
	    <td><%= link_to 'Borrar', fd.object , :confirm => 'Esta serguro?', :method => :delete %></td>
    <% end %>
    </tr>
  <% end %>
    </tbody>
  </table>
<% end %>
<%= f.buttons %>
<% end %>