<h1>Listado de facturas</h1>

<table>
  <tr>
    <th>Cliente</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Numero</th>
    <th>Fechavto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facturas.each do |factura| %>
  <tr>
    <td><%= factura.cliente.razonsocial %></td>
    <td><%= factura.fecha %></td>
    <td><%= factura.importe %></td>
    <td><%= factura.numero %></td>
    <td><%= factura.fechavto %></td>
    <td><%= link_to 'Ver', factura %></td>
    <td><%= link_to 'Editar', edit_factura_path(factura) %></td>
    <td><%= link_to 'Borrar', factura, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Factura', new_factura_path %>
