<h1>Listing facturas</h1>

<table>
  <tr>
    <th>Cliente</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Numero</th>
    <th>Fechavto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facturas.each do |factura| %>
  <tr>
    <td><%= factura.cliente %></td>
    <td><%= factura.fecha %></td>
    <td><%= factura.importe %></td>
    <td><%= factura.numero %></td>
    <td><%= factura.fechavto %></td>
    <td><%= link_to 'Show', factura %></td>
    <td><%= link_to 'Edit', edit_factura_path(factura) %></td>
    <td><%= link_to 'Destroy', factura, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Factura', new_factura_path %>
