<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @factura.cliente.razonsocial %> |
  <%= @factura.cliente.cuit %> |
  <%= @factura.cliente.telefono %> |
  <%= @factura.cliente.direccion %>
</p>
<p>
  <b>Fecha:</b>
  <%= @factura.fecha %>
</p>
<p>
  <b>Importe:</b>
  <%= @factura.totalfactura %>
</p>
<p>
  <b>Numero:</b>
  <%= @factura.numero %>
</p>
<p>
  <b>Fechavto:</b>
  <%= @factura.fechavto %>
</p>

<b>Cantidad de items:</b> <%= @factura.facturadetalle.count %>
<table>
  <tr>
	 <th>Descripcion</th>
	 <th align="center">Cantidad</th>
	 <th align="center">Precio unitario</th>
	 <th align="center">IVA</th>
	 <th align="center">Precio total</th>
	 <th></th>
	 <th></th>
	 <th></th>	
  </tr>
<% @factura.facturadetalle.each do |item| %>
  <tr>
    <td align="left" ><%= item.descripcion %></td>
    <td align="right"><%= item.cantidad %></td>
    <td align="right"><%= number_to_currency(item.preciounitario) %></td>
    <td align="right"><%= number_to_percentage(item.tasaiva, :precision => 2) %></td>
    <td align="right"><%= number_to_currency(item.totalitem) %></td>
  </tr>
<% end %>
<tr>
  <td align="left" ><b>Total :</b></td>
  <td align="right"></td>
  <td align="right"></td>
  <td align="right"></td>
  <td align="right"><%= number_to_currency(@factura.totalfactura) %></td>
</tr>
</table>
</br>
<%= link_to 'Editar', edit_factura_path(@factura) %> |
<%= link_to 'Volver', facturas_path %>
