<h1>Lista de detalles de factura</h1>

<table>
  <tr>
    <th>Factura numero</th>
    <th>Factura fecha</th>
    <th>Factura razon social</th>

    <th>Descripcion</th>
    <th>Cantidad</th>
    <th>Precio unitario</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facturadetalles.each do |facturadetalle| %>
  <tr>
    <td><%= facturadetalle.factura.numero %></td>
    <td><%= facturadetalle.factura.fecha %></td>
    <td><%= facturadetalle.factura.cliente.razonsocial %></td>

    <td><%= facturadetalle.descripcion %></td>
    <td><%= facturadetalle.cantidad %></td>
    <td><%= facturadetalle.preciounitario %></td>
    <td><%= facturadetalle.preciounitario * facturadetalle.cantidad %></td>

    <td><%= link_to 'Ver', facturadetalle %></td>
    <td><%= link_to 'Editar', edit_facturadetalle_path(facturadetalle) %></td>
    <td><%= link_to 'Borrar', facturadetalle, :confirm => 'Esta ud. seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo detalle de factura', new_facturadetalle_path %>
