<h1>Nuevo item de detalle de factura#new</h1>

<%= semantic_form_for [@factura, @facturadetalle] do |fd| %>
  <%= fd.semantic_errors %>

  <%= fd.input :descripcion %>
  <%= fd.input :cantidad %>
  <%= fd.input :preciounitario %>
  <%= fd.buttons %>
<% end %>

