<p id="notice"><%= notice %></p>

<p>
  <b>Factura:</b>
  <%= @facturadetalle.factura.numero %>
  <%= @facturadetalle.factura.fecha %>
  <%= @facturadetalle.factura.cliente.razonsocial %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @facturadetalle.descripcion %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @facturadetalle.cantidad %>
</p>

<p>
  <b>Precio unitario:</b>
  <%= @facturadetalle.preciounitario %>
</p>

<p>
  <b>Precio total:</b>
  <%= @facturadetalle.preciounitario * @facturadetalle.cantidad %>
</p>


<%= link_to 'Editar', edit_facturadetalle_path(@facturadetalle) %> |
<%= link_to 'Volver', facturadetalles_path %>
