<h1>Listing notacreditos</h1>

<table>
  <tr>
    <th>Cliente</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Numero</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notacreditos.each do |notacredito| %>
  <tr>
    <td><%= notacredito.cliente.razonsocial %></td>
    <td><%= notacredito.fecha %></td>
    <td><%= notacredito.importe %></td>
    <td><%= notacredito.numero %></td>
    <td><%= link_to 'Show', notacredito %></td>
    <td><%= link_to 'Edit', edit_notacredito_path(notacredito) %></td>
    <td><%= link_to 'Destroy', notacredito, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notacredito', new_notacredito_path %>
