<%= form_for(@facturaitem) do |f| %>
  <% if @facturaitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facturaitem.errors.count, "error") %> prohibited this facturaitem from being saved:</h2>

      <ul>
      <% @facturaitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :factura %><br />
    <%= f.text_field :factura %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br />
    <%= f.text_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :preciounitario %><br />
    <%= f.text_field :preciounitario %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :tasaiva %><br />
    <%= f.text_field :tasaiva %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
