<h1>Listing facturaitems</h1>

<table>
  <tr>
    <th>Factura</th>
    <th>Cantidad</th>
    <th>Preciounitario</th>
    <th>Descripcion</th>
    <th>Tasaiva</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facturaitems.each do |facturaitem| %>
  <tr>
    <td><%= facturaitem.factura %></td>
    <td><%= facturaitem.cantidad %></td>
    <td><%= facturaitem.preciounitario %></td>
    <td><%= facturaitem.descripcion %></td>
    <td><%= facturaitem.tasaiva %></td>
    <td><%= link_to 'Show', facturaitem %></td>
    <td><%= link_to 'Edit', edit_facturaitem_path(facturaitem) %></td>
    <td><%= link_to 'Destroy', facturaitem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Facturaitem', new_facturaitem_path %>
