<h1>Listing facturarecibos</h1>

<table>
  <tr>
    <th>N.Factura</th>
    <th>Fecha Factura</th>
    <th>Razon Social</th>

    <th>Fecha</th>
    <th>Importe</th>

    <th>N.Recibo</th>
    <th>Fecha Recibo</th>
    <th>Razon Social</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facturarecibos.each do |facturarecibo| %>
  <tr>
    <td><%= facturarecibo.factura.numero %></td>
    <td><%= facturarecibo.factura.cliente.razonsocial %></td>
    <td><%= facturarecibo.factura.fecha %></td>
    <td><%= facturarecibo.factura.importe %></td>

    <td><%= facturarecibo.fecha %></td>
    <td><%= facturarecibo.importe %></td>

    <td><%= facturarecibo.recibo.numero %></td>
    <td><%= facturarecibo.recibo.cliente.razonsocial %></td>
    <td><%= facturarecibo.recibo.fecha %></td>
    <td><%= facturarecibo.recibo.importe %></td>

    <td><%= link_to 'Show', facturarecibo %></td>
    <td><%= link_to 'Edit', edit_facturarecibo_path(facturarecibo) %></td>
    <td><%= link_to 'Destroy', facturarecibo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Facturarecibo', new_facturarecibo_path %>
