<h1>Listado de condiciones de iva</h1>

<%= render 'sidebar' %>

<% content_for(:controls) do %>
<%= controls do |c|
         c.item "Nuevo", new_condicioniva_path, :icon => "add"
         c.item "Exportar PDF", root_path, :icon => "report_go", :method => :delete
end %>
<%end%>

<% content_for(:breadcrumbs) do %>
<%= breadcrumbs do |b|
	b.item "Principal", root_path
    b.item "Condiciones de IVA", condicionivas_path, :active => true
end %>
<%end%>


<table>
  <tr>
    <th>Detalle</th>
    <th>Letra</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @condicionivas.each do |condicioniva| %>
  <tr>
    <td><%= condicioniva.detalle %></td>
	<td><%= condicioniva.letra %></td>
    <td><%= link_to icon('application_go', :small, :title => 'ver'), condicioniva %></td>
    <td><%= link_to icon('application_edit', :small, :title => 'editar'), edit_condicioniva_path(condicioniva) %></td>
    <td><%= link_to icon('application_delete', :small, :title => 'borrar'), condicioniva, :confirm => 'Esta ud. seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>