<h1>Listing condicionivas</h1>

<table>
  <tr>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @condicionivas.each do |condicioniva| %>
  <tr>
    <td><%= condicioniva.detalle %></td>
    <td><%= link_to 'Show', condicioniva %></td>
    <td><%= link_to 'Edit', edit_condicioniva_path(condicioniva) %></td>
    <td><%= link_to 'Destroy', condicioniva, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Condicioniva', new_condicioniva_path %>
