%p#notice= notice

%p
  %b User:
  = @usuarioempresa.user_id
%p
  %b Empresa:
  = @usuarioempresa.empresa_id

= link_to 'Edit', edit_usuarioempresa_path(@usuarioempresa)
\|
= link_to 'Back', usuarioempresas_path
