<div id="header">
  <h1><%= image_tag("LogoApsWeb.jpg", :alt => "APSystems", :class => "round") %> <a href="/"><%=title%></a></h1>
  <div id="user-navigation">
    <ul class="wat-cf">
      <li><%= link_to "Ayuda", help_path %></li>
      <li><%= link_to "Ingresar", 'users/sign_in' %></li>
      <li><a href="#"><%= t("web-app-theme.profile", :default => "Profile") %></a></li>
      <li><a href="#"><%= t("web-app-theme.settings", :default => "Configuracion") %></a></li>
      <li><%= link_to "Salir", 'users/sign_out' %></li>
    </ul>
  </div>
  <div id="main-navigation">
    <ul class="wat-cf">
      <li><%= link_to "Principal", root_path %></li>
      <li><%= link_to "Clientes", clientes_path %></li>
      <li><%= link_to "Facturas", facturas_path %></li>
      <li><%= link_to "Recibos", recibos_path %></li>
      <li><%= link_to "Notas de credito", notacreditos_path %></li>
      <li><%= link_to "Facturas vs Recibos", facturarecibos_path %></li>
      <li><%= link_to "Facturas vs Notas de credito", facturanotacreditos_path %></li>
    </ul>
  </div>
</div>
