<header>
  <%= image_tag("LogoApsWeb.jpg", :alt => "APSystems", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Principal", root_path %></li>
      <li><%= link_to "Ayuda", help_path %></li>
      <li><%= link_to "Ingresar", '#' %></li>
      <li><%= link_to "Salir", '#' %></li>
    </ul>
  </nav>
</header>
