<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
  <%= formtastic_stylesheet_link_tag %>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override" %>

  <%= javascript_include_tag :cocoon %> 

  <%= yield(:head) %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <%= render 'layouts/header' %>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>